.documentation-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px;
}

.doc-header {
  text-align: center;
  margin-bottom: 30px;
}

.doc-header h2 {
  font-size: 3rem;
  background: linear-gradient(
    to right,
    var(--secondary-color),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;

  letter-spacing: 1px;
}

.doc-section h2 {
  font-size: 2rem;
  color: var(--text-primary-color);
  margin-bottom: 10px;
  border-bottom: 2px solid var(--text-secondary-color);
  padding-bottom: 5px;
  letter-spacing: 1px;
}

.doc-section p {
  font-size: 16px;
  color: var(--text-primary-color);
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rounded-image {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}

.image-caption {
  font-size: 0.9rem;
  color: #aaa;
  font-style: italic;
}

.team-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.team-list li {
  font-size: 1rem;
  color: #f0c929;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px 15px;
  border-radius: 6px;
}

.model-article h3 {
  color: var(--primary-color);
  font-size: medium;
}
.model-article h4 {
  color: var(--secondary-color);
  font-size: 15px;
}

.model-article p {
  font-size: 16px;
  color: var(--text-primary-color);
  margin-bottom: 0;
}
