.header {
  display: flex;
  align-items: center;
  gap: 96px;
  background-color: var(--primary-color-transparent);
  height: 96px;
  padding: 0 96px;

  position: sticky;
  top: 0;
  z-index: 1;

  /* Frosted glass effect */
  backdrop-filter: blur(180px);
}

.logo-text {
  font-size: 32px;
  font-family: "Glory", sans-serif;
  font-weight: 800;
  background: linear-gradient(
    to right,
    var(--secondary-color),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block; /* Ensures text behaves properly */
}
.nav-list {
  display: flex;
  gap: 48px;
}
.nav-list li {
  list-style: none;
}
.nav-list button {
  background: none;
  border: none;
  font-size: 24px;
  color: var(--text-main-color);
  cursor: pointer;
}
.nav-list button:hover {
  color: var(--primary-color);
}
.active button {
  border-bottom: 2px solid var(--primary-color);
  color: var(--primary-color);
}
