@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,100..800;1,100..800&display=swap");

:root {
  --primary-color: #fb6564;
  --secondary-color: #a03cea;
  --primary-color-transparent: rgba(220, 172, 224, 0.18);
  --text-main-color: #111111;
  --text-secondary-color: #6c2cda;
}
html {
  scroll-behavior: smooth;
  font-size: 10px; /* Now, 1rem = 10px */
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  flex-direction: column;
  letter-spacing: 2px;
  position: relative;
}
.btn {
  background: linear-gradient(to right, #8244f4, #6b2bd9);
  color: white;
  border: none;
  font-size: 16px;
  padding: 12px 24px;
  letter-spacing: 1px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 600;
}
